body {margin: 20px 0px 0px 20px;}
#grid {width: 500px; height: 500px; margin: 0px; padding: 0px; border: 1px;}
.dot {width: 45px; height: 45px; display: inline-block; border-radius: 4px; background-color: #ddd; border: 1px solid #222;}
.dot.live {background: #777;}
